<?xml version="1.0"?>
<launch>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find stereo_camera_calibration)/config/rosconsole.config"/>
    <rosparam command="load" file="$(find stereo_camera_calibration)/config/config.yaml"/>
    <node pkg="stereo_camera_calibration" type="intrinsic_calibration_node" name="intrinsic_calibration" args= "" output="screen" />
</launch>
